* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Flex */
.products {
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}
.products div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5cccc;
  border-radius: 5px;
  margin: 20px;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 3px 3px 4px #000000;
  order: 3;
}
.products div:nth-child(5) {
  background-color: #00dea7;
}
.products div:nth-child(10) {
  background-color: #b1e90b;
  border-radius: 50%;
  order: 1;
}
.products div:nth-child(15) {
  background-color: #b1e90b;
  border-radius: 50%;
  order: 2;
}
/* Task seven*/
.main-section {
  background-color: #000000;
  padding: 20px;
  margin:50px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: #fff;
  font-family: "Livvic", serif;
}
/*right section styling */
.rightSection {
  padding: 20px;
  width: 50%;
  margin-TOP:50px;
}
.rightSection h3 {
  font-size: 24px;
  /* padding: 20px; */
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #b1e90b;
}
.rightSection p {
  font-size: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.rightSection button {
  width: 200px;
  height: 50px;
  background-color: #b1e90b;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  margin-left: 50px;
  margin-top: 20px;
}
.lefttSection img {
  width: 700px;
  height: 600px;
  padding: 20px;
}
/**/
.d-flex{
  display: flex;
  justify-content: space-around;
}
.p-card{
margin: 100px 0px;
}