* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.products {
  background-color: #eee;
  overflow: hidden;
}
.products .items {
  background-color: #dc96ff;
  float: left;
  width:200px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #fff;

}
